basePath: /api/v1
definitions:
  user_domain.User:
    properties:
      Avatar:
        example: http://test/image/1.jpg,http://test/image/2.jpg
        type: string
      BirthDate:
        example: "2000-01-01"
        type: string
      Email:
        example: example@gmail.com
        type: string
      Id:
        example: 1
        type: integer
      Password:
        example: password
        type: string
      Username:
        example: john
        type: string
    type: object
  user_domain.UserCredentials:
    properties:
      Email:
        example: example@gmail.com
        type: string
      Password:
        example: password
        type: string
    type: object
host: musicon.space
info:
  contact: {}
  description: Music web app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: MusicOn API
  version: "1.0"
paths:
  /album/{id}:
    get:
      description: return all tracks from album
      parameters:
      - description: album id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-CSRFTOKEN:
              description: csrf token
              type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - album
  /artist/{id}:
    get:
      description: return artist info
      parameters:
      - description: artist id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          headers:
            X-CSRFTOKEN:
              description: csrf token
              type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - artist
  /auth:
    get:
      description: check user's authentication by cookie and user_id
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user_domain.User'
        "401":
          description: Unauthorized
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      security:
      - cookieAuth: []
      - csrfToken: []
      tags:
      - user
  /feed:
    get:
      description: return all albums
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - album
  /like/{id}:
    post:
      description: like track
      parameters:
      - description: track id
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            type: string
        "401":
          description: Unauthorized
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      security:
      - cookieAuth: []
      - csrfToken: []
      tags:
      - track
  /listen/{id}:
    post:
      description: listen track
      parameters:
      - description: track id
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      security:
      - csrfToken: []
      tags:
      - track
  /login:
    post:
      consumes:
      - application/json
      description: login user
      parameters:
      - description: User email and password
        in: body
        name: userCrds
        required: true
        schema:
          $ref: '#/definitions/user_domain.UserCredentials'
      responses:
        "200":
          description: OK
          headers:
            JSESSIONID:
              description: cookie
              type: string
            X-CSRFTOKEN:
              description: csrf token
              type: string
        "400":
          description: Bad Request
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - user
  /logout:
    post:
      description: logout user
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      security:
      - cookieAuth: []
      - csrfToken: []
      tags:
      - user
  /me:
    get:
      description: get user info
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      security:
      - cookieAuth: []
      - csrfToken: []
      tags:
      - user
  /most_liked:
    get:
      description: return albums sorted by likes count
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - album
  /new:
    get:
      description: return new albums
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - album
  /popular:
    get:
      description: return albums sorted by listen count
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - album
  /sign_up:
    post:
      consumes:
      - application/json
      description: register user
      parameters:
      - description: User data
        in: body
        name: userData
        required: true
        schema:
          $ref: '#/definitions/user_domain.User'
      produces:
      - application/json
      responses:
        "400":
          description: Bad Request
          schema:
            type: string
        "403":
          description: Forbidden
          schema:
            type: string
        "409":
          description: Conflict
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      tags:
      - user
securityDefinitions:
  cookieAuth:
    in: header
    name: JSESSIONID
    type: apiKey
  csrfToken:
    in: header
    name: X-Csrf-Token
    type: apiKey
swagger: "2.0"
