{
    "swagger": "2.0",
    "info": {
        "description": "Music web app",
        "title": "MusicOn API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "musicon.space",
    "basePath": "/api/v1",
    "paths": {
        "/auth": {
            "get": {
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "csrfToken": []
                    }
                ],
                "description": "check user's authentication by cookie and user_id",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "user id",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user_domain.User"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "description": "login user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "User email and password",
                        "name": "userCrds",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user_delivery.userCrds"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user_domain.ResponseId"
                        },
                        "headers": {
                            "JSESSIONID": {
                                "type": "string",
                                "description": "cookie"
                            },
                            "X-CSRFTOKEN": {
                                "type": "string",
                                "description": "csrf token"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "csrfToken": []
                    }
                ],
                "description": "logout user",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "user id",
                        "name": "id",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/music": {
            "get": {
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "csrfToken": []
                    }
                ],
                "description": "return all tracks",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "track"
                ],
                "parameters": [
                    {
                        "type": "integer",
                        "description": "user id",
                        "name": "id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/track.Response"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/sign_up": {
            "post": {
                "description": "register user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "User data",
                        "name": "userData",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user_domain.User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user_domain.ResponseId"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "album.Response": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "example": 1
                },
                "Name": {
                    "type": "string",
                    "example": "AlbumName"
                },
                "Preview": {
                    "type": "string",
                    "example": "AlbumPreview"
                }
            }
        },
        "artist.Response": {
            "type": "object",
            "properties": {
                "Avatar": {
                    "type": "string",
                    "example": "ArtistAvatar"
                },
                "Id": {
                    "type": "integer",
                    "example": 1
                },
                "Name": {
                    "type": "string",
                    "example": "ArtistName"
                }
            }
        },
        "track.Response": {
            "type": "object",
            "properties": {
                "Album": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/album.Response"
                    }
                },
                "Artist": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/artist.Response"
                    }
                },
                "Content": {
                    "type": "string",
                    "example": "TrackContent"
                },
                "Id": {
                    "type": "integer",
                    "example": 1
                },
                "Name": {
                    "type": "string",
                    "example": "TrackName"
                },
                "Preview": {
                    "type": "string",
                    "example": "TrackPreview"
                }
            }
        },
        "user_delivery.userCrds": {
            "type": "object",
            "properties": {
                "Email": {
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "Password": {
                    "type": "string",
                    "example": "password"
                }
            }
        },
        "user_domain.ResponseId": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "user_domain.User": {
            "type": "object",
            "properties": {
                "Avatar": {
                    "type": "string",
                    "example": "http://test/image/1.jpg,http://test/image/2.jpg"
                },
                "BirthDate": {
                    "type": "string",
                    "example": "2000-01-01"
                },
                "Email": {
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "Id": {
                    "type": "integer",
                    "example": 1
                },
                "Password": {
                    "type": "string",
                    "example": "password"
                },
                "Username": {
                    "type": "string",
                    "example": "john"
                }
            }
        }
    },
    "securityDefinitions": {
        "cookieAuth": {
            "type": "apiKey",
            "name": "JSESSIONID",
            "in": "header"
        },
        "csrfToken": {
            "type": "apiKey",
            "name": "X-CSRFTOKEN",
            "in": "header"
        }
    }
}