{
    "swagger": "2.0",
    "info": {
        "description": "Music web app",
        "title": "MusicOn API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {},
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "musicon.space",
    "basePath": "/api/v1",
    "paths": {
        "/album/id": {
            "get": {
                "description": "return all tracks from album",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "album"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-CSRFTOKEN": {
                                "type": "string",
                                "description": "csrf token"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/artist/id": {
            "get": {
                "description": "return artist info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "artist"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "X-CSRFTOKEN": {
                                "type": "string",
                                "description": "csrf token"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/auth": {
            "get": {
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "csrfToken": []
                    }
                ],
                "description": "check user's authentication by cookie and user_id",
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user_domain.User"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/feed": {
            "get": {
                "description": "return all albums",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "album"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/like/id": {
            "post": {
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "csrfToken": []
                    }
                ],
                "description": "like track",
                "tags": [
                    "track"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/listen/id": {
            "post": {
                "security": [
                    {
                        "csrfToken": []
                    }
                ],
                "description": "listen track",
                "tags": [
                    "track"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "description": "login user",
                "consumes": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "User email and password",
                        "name": "userCrds",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user_domain.UserCredentials"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "JSESSIONID": {
                                "type": "string",
                                "description": "cookie"
                            },
                            "X-CSRFTOKEN": {
                                "type": "string",
                                "description": "csrf token"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/logout": {
            "post": {
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "csrfToken": []
                    }
                ],
                "description": "logout user",
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/me": {
            "get": {
                "security": [
                    {
                        "cookieAuth": []
                    },
                    {
                        "csrfToken": []
                    }
                ],
                "description": "get user info",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/most_liked": {
            "get": {
                "description": "return albums sorted by likes count",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "album"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/new": {
            "get": {
                "description": "return new albums",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "album"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/popular": {
            "get": {
                "description": "return albums sorted by listen count",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "album"
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/sign_up": {
            "post": {
                "description": "register user",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "parameters": [
                    {
                        "description": "User data",
                        "name": "userData",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user_domain.User"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "409": {
                        "description": "Conflict",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "user_domain.User": {
            "type": "object",
            "properties": {
                "Avatar": {
                    "type": "string",
                    "example": "http://test/image/1.jpg,http://test/image/2.jpg"
                },
                "BirthDate": {
                    "type": "string",
                    "example": "2000-01-01"
                },
                "Email": {
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "Id": {
                    "type": "integer",
                    "example": 1
                },
                "Password": {
                    "type": "string",
                    "example": "password"
                },
                "Username": {
                    "type": "string",
                    "example": "john"
                }
            }
        },
        "user_domain.UserCredentials": {
            "type": "object",
            "properties": {
                "Email": {
                    "type": "string",
                    "example": "example@gmail.com"
                },
                "Password": {
                    "type": "string",
                    "example": "password"
                }
            }
        }
    },
    "securityDefinitions": {
        "cookieAuth": {
            "type": "apiKey",
            "name": "JSESSIONID",
            "in": "header"
        },
        "csrfToken": {
            "type": "apiKey",
            "name": "X-Csrf-Token",
            "in": "header"
        }
    }
}